@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  text-align: center;
  background-color: #FFFAFA;
  color: #696969;
  text-align: center;
}

.toCenter {
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 2;
  /* border: 1px solid blue; */
}

.top {
  display: flex;
  /* justify-content: space-around; */
  /* height: 40px; */
  /* border: 1px solid red; */
}

.title {
  /* border: 1px solid red; */
  /* padding: 10px; */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-right: 50px;
}

.headers {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.header {
  padding: 30px;
  font-weight: bold;
  margin-right: 50px;
}

.bodyy {
  /* border: 1px solid red; */
  text-align: center;
}

.content {
  /* padding: 50px; */
  /* border: 1px solid red; */
  display: inline-block;
  z-index: -2;
}

.footer {
  /* border: 1px solid red;
  background-color: #708090;
  height: 30px; */
}

.currentTab {
  color: skyblue;
}